body { background: #53d7f8; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 24px; display: flex; }
.block-uploader-0 { color: #6c3d79; font-size: 21px; margin-bottom: 5px; }
.block-cache-1 { color: #a72c05; font-size: 17px; margin-bottom: 5px; }
.block-helper-2 { color: #89b9b2; font-size: 13px; margin-bottom: 5px; }
.block-token-3 { color: #5c6937; font-size: 20px; margin-bottom: 5px; }
.block-uploader-4 { color: #ef6e1c; font-size: 19px; margin-bottom: 5px; }
.block-product-5 { color: #2f8fdf; font-size: 16px; margin-bottom: 5px; }